html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
body {
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', sans-serif;
}
p {
    margin: 0;
    padding: 0;
    font-family: serif;
}

main {
    margin: 4rem 0 0 0;
    flex-grow: 1;
    background-color: #f0f0f0;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.section-header {
    padding: 0.75rem;
    font-size: 3rem;
    text-align: center;

    color: #eb5959;
    text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
}

/* FLASH */
#flash {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid black;

    opacity: 0;
    margin-top: -1.5rem;
    animation: 3s fadeOut linear 1;
}
#flash p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 500ms fadeIn linear 1;
}
#notice {
    background-color: #ceedd6;
}
#alert {
    background-color: #ffdbd9;
}
@keyframes fadeIn {
    from { color: transparent; }
    to { color: black; }
}
@keyframes fadeOut {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    90% {
        margin-top: 0;
        opacity: 1;
    }
    95% {
        margin-top: 0;
        opacity: 0;
    }
    100% {
        margin-top: -1.5rem;
        opacity: 0;
    }
}
/* END */


.new-button {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    margin-bottom: 2rem;
}
.new-button:hover, .new-button:focus {
    text-decoration: underline;
    font-style: italic;
}



/* MAIN */
#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    padding: 0 2rem;
}
/* .card {
    border-radius: 5rem;
    border: 3px solid black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card h2 {
    margin-bottom: 1rem;
    color: rgb(240, 00, 50);
} */
.item {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-top: 1px solid grey;
    padding: 0.5rem;
}
.item p {
    font-style: italic;
    text-align: center;
}

#list li a {
    text-decoration: none;
    font-size: 1.2rem;
}

form label {
    font-size: 2rem;
}
main form div {
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 1px solid gray;
}

.reviews {
    font-size: 1.1rem;
}
.reviews li {
    margin-bottom: 1rem;
}
.reviews a {
    text-decoration: none;
}
#rating {
    display: block;
    text-align: center;
}
/* END */
