body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
p {
    margin: 0;
    padding: 0;
    font-family: serif;
}


/* HEADER */
#site-header {
    width: 100%;
    height: 15vh;

    border-bottom: 3px solid black;
    padding-top: 0.5rem;
    background-color: #f7f7f7;

    background-color: rgb(240, 00, 50);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title {
    width: 100%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}
#title #img-shadow {
    height: 100%;
    width: 5rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 70%, transparent 100%);
    border-radius: 50%;
    margin-right: 1rem;
}
#img-shadow img {
    display: block;
    height: 75%;
    margin-right: 1rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    animation: 4s spin linear infinite;
    border: 2px solid black;
}
#title h1 {
    display: inline-block;
    color: white;
    font-size: 3rem;
}
#site-header nav {
    width: 15rem;
    height: 25%;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
#site-header nav a {
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
}
#site-header nav a:hover {
    background-color: rgba(240, 00, 50, 0.2);
}
@keyframes spin {
    from { transform: rotateY(91deg) }
    to { transform: rotateY(-89deg) }
}
/* END */


/* FLASH */
#flash {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid black;

    opacity: 0;
    margin-top: -1.5rem;
    animation: 3s fadeOut linear 1;
}
#flash p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 500ms fadeIn linear 1;
}
#notice {
    background-color: #ceedd6;
}
#alert {
    background-color: #ffdbd9;
}
@keyframes fadeIn {
    from { color: transparent; }
    to { color: black; }
}
@keyframes fadeOut {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    90% {
        margin-top: 0;
        opacity: 1;
    }
    95% {
        margin-top: 0;
        opacity: 0;
    }
    100% {
        margin-top: -1.5rem;
        opacity: 0;
    }
}
/* END */


/* MAIN */
main {
    width: 75%;
    height: 100%;
    margin: 1rem auto;
}
#about {
    border-radius: 5rem;
    border: 3px solid black;
    padding: 2rem;
}
#about h2 {
    font-size: 1.5rem;
    background-color: rgb(240, 00, 50);
    color: white;
    padding: 0.75rem;
    border: 2px solid black;
    border-radius: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
}
#about p {
    font-size: 1rem;
    text-indent: 2rem;
}
/* END */
