#site-header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;

    padding: 0 1rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 18rem 3fr 2fr 12rem;

    background-color: #eb5959;
    background-image: url('https://www.transparenttextures.com/patterns/arches.png');
    border-bottom: 3px solid black;
    font-family: 'Nanum Brush Script', sans-serif;
}

#site-title {
    display: grid;
    grid-template-columns: 4rem 8rem 6rem;

    text-decoration: none;
    color: white;
}
#site-title > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#img-shadow {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 70%, transparent 100%);
    border-radius: 50%;
    padding: 0.5rem;
}
#img-shadow img {
    max-height: 100%;
    background-color: white;
    border-radius: 50%;
    animation: 4s spin linear infinite;
    border: 2px solid black;
}
#site-title h1 {
    font-size: 2.75rem;
}
#site-title h2 {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5rem;
}


#site-nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}
#site-nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: bold;
}
#site-nav ul li a:hover, #site-nav ul li a:focus {
    color: #d1d1d1;
    font-style: italic;
    font-size: 2rem;
}


#site-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-search label {
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    margin-right: 1rem;
}
#site-search div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-search input {
    box-sizing: border-box;
    height: 1.5rem;
    width: 100%;

    text-indent: 0.5rem;

    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    font-family: serif;
    font-size: 0.8rem;
}
#site-search button {
    box-sizing: border-box;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1px;

    background: url('search.png');
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;

    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#site-search input:focus {
    outline: none;
    box-shadow: -3px 0 5px 3px rgba(255,255,255,.5);
}
#site-search input:focus ~ button {
    box-shadow: 3px 0 5px 3px rgba(255,255,255,.5);
}
#site-search button:focus {
    outline: none;
    background-color: #aeebae;
}


#site-userbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    padding: 0.5rem;
}
#site-userbar img {
    box-sizing: border-box;
    max-height: 100%;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    float: right;
}
#site-userbar div:last-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.25rem;
}
#site-userbar a {
    font-size: 1rem;
    color: white;
}
#site-userbar a:hover, #site-userbar a:focus {
    color: #d1d1d1;
    font-style: italic;
}


#site-loginbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#site-loginbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nanum Brush Script', sans-serif;
    color: white;
    font-size: 1.2rem;
}
#site-loginbar a:hover, #site-loginbar a:focus {
    font-style: italic;
    font-size: 1.5rem;
    color: #d1d1d1;
}

@keyframes spin {
    from { transform: rotateY(91deg) }
    to { transform: rotateY(-89deg) }
}
