#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;

    display: grid;
    grid-template-columns: 18rem 3fr 2fr 14rem;

    background-color: #eb5959;
    background-image: url('https://www.transparenttextures.com/patterns/arches.png');
    border-bottom: 3px solid black;
}
#site-title {
    display: grid;
    grid-template-columns: 4rem 8rem 6rem;

    text-decoration: none;
    color: white;
}
#site-title > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#site-title #img-shadow {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 70%, transparent 100%);
    border-radius: 50%;
    padding: 0.55rem;
}
#img-shadow img {
    max-height: 100%;
    background-color: white;
    border-radius: 50%;
    animation: 4s spin linear infinite;
    border: 2px solid black;
}
#site-title h1 {
    font-size: 2.75rem;
    font-family: 'Caveat Brush', sans-serif;
}
#site-title h2 {
    font-style: italic;
    font-size: 1.75rem;
    line-height: 1.5rem;
    font-family: 'Nanum Brush Script', sans-serif;
}

#site-nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
#site-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    font-family: 'Nanum Brush Script', sans-serif;
    font-weight: bold;
}
#site-nav ul li a:hover {
    color: #d1d1d1;
}


#site-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-search label {
    color: white;
    font-family: 'Nanum Brush Script', sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    margin-right: 1rem;
}
#site-search div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-search input {
    box-sizing: border-box;
    height: 1.5rem;
    width: 100%;

    text-indent: 0.5rem;

    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#site-search button {
    box-sizing: border-box;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1px;

    background: url('search.png');
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;

    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#site-search input:focus {
    outline: none;
    box-shadow: -3px 0 5px 3px rgba(255,255,255,.5);
}
#site-search input:focus ~ button {
    box-shadow: 3px 0 5px 3px rgba(255,255,255,.5);
}
#site-search button:focus {
    outline: none;
    background-color: #aeebae;
}




/* #site-header nav {
    width: 15rem;
    height: 25%;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
#site-header nav a {
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
}
#site-header nav a:hover {
    background-color: rgba(240, 00, 50, 0.2);
} */
@keyframes spin {
    from { transform: rotateY(91deg) }
    to { transform: rotateY(-89deg) }
}
/* END */
