<div id='list' class='container'>
    <h2 class='red-white'>Products</h2>
    <p><%= link_to 'Create new product', new_product_path, class: 'new' %></p>

    <% if @products.any? %>
    <ul>
        <% @products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no products yet.</p>
    <% end %>
</div>
